.btn-signup {
    background-color: #FFC800;
    color: #FFFFFF;
}

.btn-submit {
    background-color: #254fb4;
    color: #FFFFFF;
}

a.list-group-item {
    color: #000000;
    font-weight: bold;
    border: none !important;
}

.control-label {
    color: #333 !important;
}

.menuactive {
    color: #fff !important;
    background-color: #75BCC3 !important;
}

.k-grid td, .k-header {
    border-style: none !important;
}

.k-alt {
    background-color: transparent !important;
}

.chkFeesType {
    font-weight: normal !important;
}

.padd-top-10 {
    padding-top: 10px;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
}

.gridDiv {
    margin-top: 5px;
}

.error {
    color: #a94442;
    border-color: #a94442;
}

.btncharttype {
    background-color: #75BCC3 !important;
    color:#fff;
}

    .btncharttype:hover {
        opacity: 0.7;
    }

.activeChart {
    background-color: #0097A7 !important;
}

  #LoaderMessage.loader {
        position: fixed;
        left: 45%;
        top: 0px;
    }
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

.txt-white {
    color: #FFFEFF !important;
}

.noRadius {
    border-radius: 0px !important;
}

.menu-expand {
    background-color: #0097A7 !important;
}

.navbar .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #80DEEA !important; /*edit 27/6/15*/
}


.navbar .dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #80DEEA !important; /*edit 27/6/15*/
}


.k-state-selected {
    background-color: #00BCD4 !important;
    border-color: #00BCD4 !important;
}

.k-pager-wrap > .k-link {
    border-radius: 0px !important;
}

.k-pager-numbers .k-state-selected {
    border-radius: 0px !important;
}

.btn-primary {
    background-color: #0097A7 !important;
    border-color: #0097A7 !important;
}

    .btn-primary :hover {
        opacity: 0.7;
    }
